.new-todo {
    background-color:lightsteelblue;
     padding: 3rem;
    margin: 2rem; 
    width: 30rem;
    max-width: 100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-todo button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 3px solid black;
    background-color:mediumseagreen;
    color:black;
    border-radius: 12px;
    margin-right: 1rem;
  }
/*   
  .new-todo button:hover,
  .new-todo button:active {
    
  }
  
  .new-todo button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-todo button.alternative:hover,
  .new-todo button.alternative:active {
    background-color: #ddb3f8;
  } */